{:paths ["src" "resources"]
 :deps {}
 :aliases {:dev {:classpath-overrides {org.clojure/clojure nil}
                 :extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.6.0-SNAPSHOT"}
                              com.github.jpmonettas/clojure {:mvn/version "1.12.0-alpha3"}}
                 :jvm-opts ["-Dproject-name=cryptopals" "-Djdk.attach.allowAttachSelf" "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints" ;; for the profilers
                            "-Dflowstorm.startRecording=true"
                            "-Dclojure.storm.instrumentEnable=true"
                            "-Dclojure.storm.instrumentOnlyPrefixes=cryptopals."
                            "-Dflowstorm.theme=dark"]}}}
